.titulo {
    text-align: center;
}
.loading{
    text-align: center;
    color: #D8D8D8;
}
.container-grid{
    padding: 0px;
}

.container-col{
    padding: 0px;
}

.btn-boolean-success{
    color: #2dd36f;
    padding-left: 4px;
}
.btn-boolean-danger{
    color: aquamarine;
}